{% extends 'main.html' %}

{% block content%}
<div class="band-container">

    <div>
        <h1 class="band-name">{{band.name}}</h1>

        <p>{{band.description}}</p>
        <div>
        {% for music in musics %}
                {% if band.id == music.band.id %}
                    <h3> <a href="{% url 'music' music.id %}"> {{music.name}}</a> </h3>
                {% endif %}
        {% endfor %}
        </div>


        <div class="comment-wrapper">
            <h3>Conversation</h3>
            <hr>
            {% for message in band_messages %}
            <div>
                {% if request.user == message.user %}
                <a href="{% url 'delete-message' message.id %}">Delete</a>
                {% endif %}
                <small>@{{message.user}} {{message.created|timesince}} ago </small>
                <p>{{message.body}}</p>
                <hr>
            </div>
            {% endfor %}
        </div>
        {% if request.user.is_authenticated %}
        <div class="comment-form">
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" name="body" placeholder="Write you're message here...." />
            </form>
        </div>
    </div>

    <div>
        <h3>Participants</h3>
        <hr>

        {% for user in participants %}
        <div>
            <p>@{{user.username}}</p>
        </div>

        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock content %}